*{
	border: 0px;
	padding: 0px;
	box-sizing: border-box;
	background-color:black;
	color: white;
	font-family: 'Times New Roman', Times, serif;
}

.container{
	width: 100%; 
	margin: auto;
	overflow: hidden;
}


/* style for Navigation bar starts here.*/



#nav ul{
	list-style: none;
	float: right;
	margin-top: 40px;
}




#nav ul li{
	display: inline;
}



#nav{
	background-color: black;
	padding-top: 10px;
	border-bottom: 2px solid white;
	overflow: hidden;
}



#nav a{
	text-decoration: none;
	padding-right: 20px;
	color: white;
	font-size: 40px;
}


#nav a:hover{
	color: blue;
}



#nav a.active{
	color: #D01C1FFF;
	font-weight: bold;
	background-color: #4B878BFF;
}



.logo{
	width: 150px;
	height: auto;
	float: left;
}



/* style for Navigation bar ends here.*/



/* style for contact Me section starts here.*/
#section1{
	padding-top: 20px;
}
.section1-content h1{
	text-align: center;
	font-size: 40px;
	width: 300px;
	margin: auto;
	margin-bottom: 10px;
}
.section1-content p{
	font-size: 30px;
	text-align: center;
	width: 90%;
	margin: auto;
}

/* style for contact Me section ends here.*/



/* style for form section starts here.*/

#form{
	width:100%;
	margin: auto;
	height: 400px;
	padding-top: 20px;
	padding-bottom: 40px;
}
.table{
	width: 100%;
	margin: auto;
	text-align: center;
	margin-top: 40px;
}
.table tr, td{
	padding: 5px;
	padding-left: 10px;
	font-size: 26px;
	font-weight: bold;
	margin-top: 100px;
}

.input{
	border: 2px solid red;
	width: 50%;
	height: 40px;
	font-size: 21px;
  	border-radius: 6px;	
}


/* style for footer section starts here.*/



#footer{
	color: white;
	height: 150px;
	border: 3px solid white;
}



.footer-element{
	display:flex;
	justify-content:space-between;
	height: 145px;
}




.footer-element ul{
	list-style: none;
}




.footer-element a{
	text-decoration: none;
}



#footer a:hover{
	color: blue;
}




#footer i:hover{
	color: blue;
}




.media{
	padding-top:35px;
	width:250px;
	height: 150px;
	font-size: 26px;
}


.media ul{
	margin:5px;
}

.media li{
	display: inline;
}



.media a{
	font-size: 31px;
	margin: 4px;;
}



.media p{
	
	padding:0px;
	padding-left: 55px;
	margin:0px;
}


.copyright{
	width:auto;
	font-size: 26px;
	margin:auto;
	text-align: center;
	
}



.copyright p{
	margin:auto;
}



.link{
	padding-top: 40px;
	width:150px;
	font-size: 22px;
	
}
.link ul{
	margin: 0px;
	padding-bottom: 5px;
	padding-left: 5px;
}



/* style for footer ends here.*/
